@import url(style.scss);

@font-face {
    font-family: Raleway;
    src: url(../font/Raleway/Raleway-Regular.woff2),
    url(../font/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: Cardo;
    src: url(../font/Cardo/Cardo-Regular.woff2),
    url(../font/Cardo/Cardo-Regular.ttf);
}
